<div class="h-screen flex flex-col items-center justify-center space-y-3">
  <p class="text-lg text-primary">Dodaj nowe todos</p>
  <input type="text" class="input input-bordered w-full max-w-xs" [(ngModel)]="inputZnowym" (keyup.enter)="dodajTodo()" placeholder="Dodaj nowe todo" />
  <br />
  <br />
  <ul>
  <li *ngFor="let todo of doZrobienia">
  <ng-container *ngIf="(todo.isDone && pokazWykonane) || (!todo.isDone && pokazNiewykonane)">
    {{ todo.text }} {{ todo.isDone ? '✅' : '❌' }}
    <input class="toggle" type="checkbox" [(ngModel)]="todo.isDone" (click)="oznaczZrobione(todo)" />
    <button (click)="usunTodo(todo)">Usuń</button>
  </ng-container>
  </li>
  </ul>

  <div>
    <button class="btn btn-neutral" (click)="pokazanieWykonanych()" >
      {{ pokazWykonane ? "ukryj wykonane" : "cofnij" }}
    </button> <br />
    <button class="btn btn-neutral" (click)="pokazanieNiewykonanych()" >
      {{ pokazNiewykonane ? "ukryj niewykonane" : "cofnij" }}
    </button>
</div> <br />
  <br />
  <br />
  <div *ngIf="zwrocWszystkie() > 0; else brak_zadan">
    Ukończyłeś {{ procentUkonczonych() | number:'1.0-0' }}% zadań! Czyli {{ zwrocUkonczone() }}/{{ zwrocWszystkie() }}
    <br />
  </div>
  <br />
  <br />
  <div class="radial-progress bg-primary text-primary-content border-4 border-primary" [style.--value]="procentUkonczonych() | number:'1.0-0'">{{ procentUkonczonych() | number:'1.0-0' }}%</div>
  <button class="btn btn-primary" (click)="eksportujJakoJson()">Eksportuj jako plik .json</button>
  <ng-template #brak_zadan>
    <span>Nie masz jeszcze żadnych zadań, dodaj jakieś, np. "kup kawę"</span>
  </ng-template>
</div>
